.form_container {
	max-width: 300px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 15px;
	background-color: var(--white-bg);
}

.form_container input {
	background-color: #fff;
}

.form_container input::-webkit-outer-spin-button,
.form_container input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.form_container input[type='number'] {
	-moz-appearance: textfield; /* Firefox */
}

.form_container input[type='submit'] {
	border-radius: 8px;
	border: none;
	background-color: #25b456;
	color: #fff;
	min-width: 100px;
	min-height: 2.5em;
	width: 100%;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: bold;
	transition: 0.5s;
}

.form_container input[type='submit']:hover {
	background-color: #1c8a82;
}

.form_container p {
	margin-top: 1em;
	text-align: center;
}

.form_container p a {
	color: var(--blue-accent);
	font-weight: bold;
	text-decoration: none;
}

.form_container .age_type {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 100%;
	padding: 8px;
	margin-bottom: 10px;
}

.form_container .age_type input[type='radio'] {
	margin-right: 10px;
	transform: scale(1.1);
}

.form_container .age_type label {
	margin: 0 25px;
	font-weight: bold;
	font-size: 0.9em;
}

/* pets */
.preview_imgs_pet {
	display: flex;
	justify-content: center;
	margin: 1em;
}

.preview_imgs_pet img {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	margin-left: 1em;
	box-shadow: 1px 1px 5px #0005;
}
